.cosplays-card{
    background-color: rgba(255, 255, 255, 0.603);
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 1px 1px 5px grey;
}

.cosplays-card-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
}

.cosplays-img-div{
    display: flex;
    justify-content: center;
}