.home-page{
    display: flex;
    gap: 5rem;
    
    margin: 2rem auto;
}

.column1>section>a>h2{
    font-size: 1.7rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--marron-oscuro);
    margin-bottom: 1.5rem;
    padding: 0.3rem;
    min-width: 30%;
} 


.column2>section>a>h2{
    font-size: 1.7rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--marron-oscuro);
    margin-bottom: 1.5rem;
    padding: 0.3rem;
} 

.column3>section>a>h2{
    font-size: 1.7rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--marron-oscuro);
    margin-bottom: 1.5rem;
    padding: 0.3rem;
} 

.column3{
    max-width: 25rem;
}  