* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --marron-claro: #bb4730;
    --marron-oscuro: #712c27;
    --marron-oscuro-sombra: #ac5f59;
    --crema: #faeed4;
    --crema-background: #faeed45d;
    --verde-claro: #9da63d;
    --verde-oscuro: #5d6d2c;
    --verde-claro-transparente: #9da63d7b; 
}

div.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--crema-background);
    color: #5b231f;
}

main{
    flex-grow: 1;
    margin: 0 3rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

a:link, a:active{
    color: var(--marron-oscuro);
}

a:visited{
    color: var(--marron-oscuro);
}

a:hover{
    color: var(--verde-oscuro);
}

p{
    word-break: break-word;
}

img{
    max-width: 300px;
    max-height: 300px;
}

.loader-spinner{
    display: flex;
    justify-content: center;
}

@media (max-width:1380px){
    img{
        max-width: 12.5rem;
        max-height: 12.5rem;
    }

    .column1{
        width: 80%;
        height: 80%;
    }

    .column2{
        width: 80%;
        height: 80%;
    }

    .column3{
        width: 80%;
        height: 80%;
    }

    .top-card-header{
        flex-wrap: wrap;
    }

    .memes-card{
        min-width: 18rem;
    }

    .recos-card{
        min-width: 18rem;
    }

    .openings-card{
        min-width: 18rem;
    }

    .teorias-card{
        min-width: 18rem;
    }

    .cosplays-card{
        min-width: 18rem;
    }

    .fanart-card{
        min-width: 18rem;
    }

    .novedades-card{
        min-width: 18rem;
    }

    .openings-video-div{
        max-width: 18rem;
        margin: 0 auto;
    }
}

@media (max-width:1150px){

    img{
        max-width: 20rem;
        max-height: 20rem;
    }

    .home-page{
        flex-direction: column;
        align-items: center;
    }

    .column3{
        max-width: none;
    }
    
}

@media (max-width:940px){

    .top-header{   
        padding-left: 0.5rem;
        padding-right: 1rem;
    }
    
}

@media (max-width:768px){

    .burguer-btn{
        display: grid;
        gap: 4px;
        background-color: transparent;
        padding: 0;
    }

    .burguer-btn span{  
        display: block;
        background-color: var(--crema);
        width: 30px;
        height: 3px;
    }

    .ul-header{
        padding:0;
        margin:0;
        list-style: none;
        display: flex;
        gap:20px;
        position:fixed;
        top:0;
        left:0;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: #712c2771;
        backdrop-filter: blur(10px);
        flex-direction: column;
        z-index: 1;
        transform: translateX(100%);
        transition: transform 300ms;
    }

    .ul-header:target{
        transform: translateX(0);
    }

    .ul-header>a>button{
        text-decoration: none;
        transition: color 300ms;
        font-size: clamp(20px, 8vw, 50px);
    }

    .ul-header .close-menu{
        position:fixed;
        top:10px;
        right:20px;
        font-size: 15px;
        color:var(--verde-claro);
    }

    .ul-header a:hover{
        color: var(--crema-background);
    }

    #close-menu-a{
        color: var(--crema);
        font-size: 3rem;
    }

    .off{
        animation-name: menu-off;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }


    @keyframes menu-off{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(100vw);
        }
    }

}