* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --marron-claro: #bb4730;
    --marron-oscuro: #712c27;
    --marron-oscuro-sombra: #ac5f59;
    --crema: #faeed4;
    --crema-background: #faeed45d;
    --verde-claro: #9da63d;
    --verde-oscuro: #5d6d2c;
    --verde-claro-transparente: #9da63d7b; 
}

div.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--crema-background);
    color: #5b231f;
}

main{
    flex-grow: 1;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

a:link, a:active{
    color: var(--verde-oscuro);
}

a:visited{
    color: var(--verde-oscuro);
}

/*QUITAR ESTE CSS DE IMG*/
img {
    max-width: 300px;
}

/* .avatar{
    max-width: 100px;
    border-radius: 50%;
} */

img{
    max-width: 300px;
    max-height: 300px;
}