.title-page-category{
    text-transform: uppercase;
}

.all-by-category-page{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    width: 80vw;
}

