.section-comment-list{
    align-items: center;
}
.comments-list{
    display: flex;
    flex-direction: column;
    max-height: 25rem;
    max-width: 50rem;
    min-width: 50rem;
    overflow: auto;
    margin-bottom: 2rem;
    padding: 0.5rem 2rem 0;
}

.comments-list::-webkit-scrollbar{
    -webkit-appearance: none;
}

.comments-list::-webkit-scrollbar:vertical {
    width: 0.5rem;
}

.comments-list::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.comments-list::-webkit-scrollbar:horizontal {
    display: none;
}

.comments-list::-webkit-scrollbar-thumb {
    background-color: #712c275e;
    border-radius: 20px;
}

.comments-list::-webkit-scrollbar-thumb:hover {
    background-color: #712c27c0;
    border-radius: 20px;
}

.comments-list::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #712c270c;
}

.li-comment-card{
    display: flex;
}

.sin-comentarios{
    margin: 2rem;
}