.novedades-page{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-evenly;
gap: 1.5rem;
padding: 5rem;

}

.section-novedades-page>h2{
    margin-top: 2rem;
    border-bottom: 0.5px solid var(--marron-oscuro);
    text-transform: uppercase;
}

