.fieldset-recuperation{
    border: none;
    margin-bottom: 1rem;
}

.recuperation-code-input{
    padding: 0.5rem 1rem;
    border: 0.5px solid transparent;
    border-radius: 14px;
    background-color: #9da63d1f;
    color: var(--marron-oscuro);
    outline: none;
    max-width: 40%;
}

.recuperation-code-input:focus{
    border: 0.5px solid var(--verde-claro);
    background-color: #9da63d34;
    color: var(--marron-oscuro);
}

.recuperation-ul{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.recuperation-li{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.error-msg{
    color: var(--marron-claro);
    margin-top: 1rem;
    font-size: small;
}
