.genre-btn{
    width: 12rem;
    height: 2.8rem;
    font-size: 1rem;
    padding: 1rem 0.5rem;
    border: 1px solid transparent;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgb(15, 15, 15);
}

.genre-btn:hover{
    box-shadow: 0 0 10px 3px var(--verde-claro-transparente);
}

.accion-img-btn{
    background-image: url("/accionImg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.aventura-img-btn{
    background-image: url("/aventurabtn.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.deportes-img-btn{
    background-image: url("/deportesbtn.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.comedia-img-btn{
    background-image: url("/comediabtn.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.drama-img-btn{
    background-image: url("/dramabtn.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fantasia-img-btn{
    background-image: url("/fantasiabtn.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.musical-img-btn{
    background-image: url("/musicalbtn.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.romance-img-btn{
    background-image: url("/romancebtn.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ciencia-ficcion-img-btn{
    background-image: url("/cienciaficcionbtn.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.sobrenatural-img-btn{
    background-image: url("/sobrenaturalbtn.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.thriller-img-btn{
    background-image: url("/thrillerbtn.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.terror-img-btn{
    background-image: url("/terrorbtn.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.psicologico-img-btn{
    background-image: url("/psicologicobtn.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.infantil-img-btn{
    background-image: url("/infantilbtn.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.genre-btn-all{
    background-image: url("/todosBtn.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.genre-btn-top{
    background-image: url("/topratedBtn.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}