.top-header{
    background-color: var(--marron-oscuro);
    margin: 1rem 1rem 0 1rem;
    border-radius: 20px;
}

.nav-header{
    padding: 2rem;
}

.ul-header{
    display: flex;
    justify-content: space-evenly;
}

.header-btn {
    padding: 1em 2em;
    border: none;
    border-radius: 14px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--verde-claro);
    transition: all 1000ms;
    font-size: 0.8rem;
    position: relative;
    overflow: hidden;
    outline: 2px solid var(--verde-claro);
}

.header-btn:hover {
color: #ffffff;
transform: scale(1.1);
outline: 2px solid var(--verde-claro);
box-shadow: 4px 5px 17px -4px var(--verde-claro);
}

.header-btn::before {
content: "";
position: absolute;
left: -50px;
top: 0;
width: 0;
height: 100%;
background-color: var(--verde-claro);
transform: skewX(45deg);
z-index: -1;
transition: width 1000ms;
}

.header-btn:hover::before {
width: 250%;
}

.logo{
    max-width: 10rem;
}