.btns-genre-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem;
    padding: 5rem;
}

.select-genre-page>h2{
    color: var(--marron-oscuro);
    display: flex;
    border-bottom: 0.5px solid var(--marron-oscuro);
    text-transform: uppercase;

}