.recover-password-section{
    display:flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: 4rem;
    gap:2rem;
}

.recover-password-form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.recover-password-input{
    padding: 0.5rem 1rem;
    border: 0.5px solid transparent;
    border-radius: 14px;
    background-color: #9da63d1f;
    color: var(--marron-oscuro);
    outline: none;
    max-width: 40%;
}

.recover-password-input:focus{
    border: 0.5px solid var(--verde-claro);
    background-color: #9da63d34;
    color: var(--marron-oscuro);
}


.recover-password-label{
    display: none;
}

.recover-password-btn{
    padding: 0.5rem 1rem;
    border: 0.5px solid transparent;
    border-radius: 14px;
    background-color: var(--marron-oscuro);
    color: var(--crema);
    
}

.recover-password-btn:hover{
    border: 0.5px solid var(--marron-oscuro);
    background-color: var(--crema);
    color: var(--marron-oscuro);
}