.one-entry-card{
    background-color: rgba(255, 255, 255, 0.603);
    padding: 2rem;
    border-radius: 14px;
    box-shadow: 1px 1px 5px grey;
    margin: 3rem;
}

.one-entry-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.one-entry-user-info{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
}

.one-entry-avatar{
    border-radius: 50%;
    width: 6rem;
    box-shadow: 2px 2px 5px rgb(151, 149, 149);

}

.one-entry-username-badge{
    display: flex;
    flex-direction: column;
    
}

.one-entry-badge{
    font-size: 0.8em;
    font-style: italic;
}

.one-entry-genre{
    font-size: 0.8em;
    font-style: italic;
}

.one-entry-title-genre{
    margin-bottom: 0.5rem;
}
.one-entry-content{
    text-align: justify;
}
.one-entry-footer{
    display: flex;
    justify-content: space-between;
}

.btn-image{
    width: 3rem;
}

.btn-image:hover{
    
    filter: drop-shadow(0 0 0.2rem var(--marron-oscuro));
}
.btn-image.activo{
    animation-name: meGusta;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;

}

@keyframes meGusta {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(0.95);
    }

    75% {

        transform: scale(1.2);
    }

    100% {
        
        transform: scale(1)
    }
}
.like-btn{
    border: none;
    background-color: transparent;
}

.comments-section{
    display: flex;
    flex-direction: column;
    margin: 0 3rem 3rem 3rem;
}

.comments-title{
    font-size: 1em;
    border-bottom: 1px solid;
    margin-bottom: 1rem;
}

.comment-form{
    display: flex;
    flex-direction: column;
}

.comment-content-area{
    width: 50%;
    min-width: 50%;
    resize: none;
    background-color: #712c271a;
    border: 1px solid transparent;
    border-radius: 14px;
    outline: 0px none transparent;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    color: var(--marron-oscuro);
}

.comment-content-area:focus{
    background-color: #712c272d;
    border: 1px solid #712c2759;
    color: #712c27de;
}

.btn-comment{
    background-color: #712c27c9;
    padding: 0.5rem 1rem;
    border: 0.05px solid transparent;
    border-radius: 14px;
    color: var(--crema);
    max-width: 8em;
    margin-bottom: 2rem;
}

.btn-comment:hover{
    background-color: var(--crema);
    color: var(--marron-oscuro);
    border: 0.05px solid #712c2759;;
}

