.change-pwd-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-pwd-form{
    max-width: 50%;
}

.change-pwd-ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-width: 30vw;
}

.change-pwd-li{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.change-pwd-label{
    font-weight: 600;
    padding: 0rem 0 0.5rem 0rem;
    border-bottom: 1px solid #712c2750;
    margin-bottom: 0.5rem;
}

.change-pwd-input{
    padding: 0.5rem 1rem;
    border: 0.5px solid transparent;
    border-radius: 14px;
    background-color: #9da63d1f;
    color: var(--marron-oscuro);
    outline: none;
}

.change-pwd-input:focus{
    border: 0.5px solid var(--verde-claro);
    background-color: #9da63d34;
    color: var(--marron-oscuro);
}

.change-pwd-btn{
    padding: 0.5rem 1rem;
    margin: 1rem;
    border: 0.5px solid transparent;
    border-radius: 14px;
    background-color: var(--marron-oscuro);
    color: var(--crema);
}

.change-pwd-btn:hover{
    border: 0.5px solid var(--marron-oscuro);
    background-color: var(--crema);
    color: var(--marron-oscuro);
}
